
  * {
    box-sizing: content-box;
  }
  /* section {
    width: 500px;
    padding: 10px;
  }
  .box {
    width: 100%;
    border: 1px solid;
  } */
  section {
    width: 500px;
    height: 250px;
  }
  .box {
    width: 100%;
    height: 100%;
    padding: 30px;
    border: 4px solid;
    margin: 20px;
  }