* {
  box-sizing: border-box;
}

.first-floor {
  margin: auto;
  display: flex;
  width: 60vmin;
  height: 60vmin;
  border: 1px solid black;
  background: gray;
}

.second-floor {
  position: relative;
  display: flex;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 35vmin solid transparent;
  border-right: 35vmin solid transparent;
  border-bottom: 45vmin solid gray;
}

.porch {
  float: left;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.porch::before {
  content: "";
  position: absolute;
  height: 4vmin;
  width: 32vmin;
  margin-top: 1vmin;
  margin-left: -12vmin;
  background: white;
  border-top: 3px solid black;
  border-left: 1px solid gray;
}

.first-floor-windows {
  display: flex;
  margin-top: 7vmin;
  margin-left: 2vmin;
  width: 25vmin;
  height: 25vmin;
  border: 2px solid white;
}

.first-floor-windows::after {
  content: "";
  position: absolute;
  height: 2vmin;
  width: 29vmin;
  background: white;
  margin-top: 25vmin;
  margin-left: -2vmin;
}

.block-glass {
  float: left;
  margin-left: 11%;
  margin-top: 9vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 25%;
  height: 25%;
  border: 2px solid white;
}

.glass {
  border: 1px solid white;
  background: hsla(73, 10%, 12%, 0.75);
}

.door {
  margin-right: 14%;
  margin-top: 12vmin;
  float: right;
  height: 45%;
  width: 35%;
  border: 1px solid black;
  background: hsla(0, 100%, 7%, 0.86);
}

.upper-side-window {
  height: 20%;
  width: 10%;
  border: 1px solid white;
}

.windows {
  display: flex;
  position: absolute;
  margin-top: 20vmin;
  margin-left: -10vmin;
}
.upper-middle-window {
  /*   margin: auto; */
  height: 20vmin;
  width: 7vmin;
  border-bottom: 3vmin solid hsla(73, 10%, 12%, 0.75);
  margin-left: 2vmin;
  margin-right: 2vmin;
  outline: 3px solid white;
  background: hsla(73, 10%, 54%, 0.53);
}

.upper-middle-window::before {
  content: "";
  position: absolute;
  height: 3vmin;
  width: 11vmin;
  margin-top: -4vmin;
  margin-left: -2vmin;
  background: white;
}

.upper-side-window {
  margin-top: 5vmin;
  height: 15vmin;
  width: 5vmin;
  border: 4px solid white;
  background: hsla(73, 10%, 54%, 0.53);
}

.upper-side-window-left::before {
  content: "";
  position: absolute;
  height: 3vmin;
  width: 6vmin;
  margin-top: -4vmin;
  margin-left: -1vmin;
  background: white;
  border-bottom: 1px solid gray;
}

.upper-side-window-right::before {
  content: "";
  position: absolute;
  height: 3vmin;
  width: 6vmin;
  margin-top: -4vmin;
  margin-left: -2vmin;
  background: white;
  border-bottom: 1px solid gray;
}

.lower-middle-window {
  height: 99%;
  width: 50%;
  border: 1px solid white;
  border-right: 5px solid white;
  border-left: 5px solid white;
  background: hsla(73, 10%, 12%, 0.75);
}

.lower-side-window {
  height: 99%;
  width: 25%;
  border: 1px solid white;
  background: hsla(73, 10%, 54%, 0.53);
}

.window-break {
  width: 100%;
  height: 55%;
  border-bottom: 1.5px solid white;
}

.eave-right {
  position: absolute;
  width: 60vmin;
  height: 3vmin;
  background: white;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid hsla(73, 10%, 33%, 0.75);
  transform: rotate(52deg);
  margin-top: 22vmin;
  margin-left: -10vmin;
}

.eave-left {
  position: absolute;
  width: 60vmin;
  height: 3vmin;
  background: white;
  border-top: 2px solid black;
  border-bottom: 1px solid hsla(73, 10%, 33%, 0.75);
  border-left: 2px solid black;
  transform: rotate(308deg);
  margin-top: 22vmin;
  margin-left: -48vmin;
}

.basement-windows {
  display: flex;
  margin-top: 48vmin;
  margin-left: -24vmin;
  width: 25vmin;
  height: 9vmin;
  /*   border: 2px solid white; */
}

.basement-windows::before {
  content: "";
  position: absolute;
  height: 4vmin;
  width: 30vmin;
  margin-top: -5vmin;
  margin-left: -3vmin;
  background: white;
}

.middle-basement-window {
  height: 99%;
  width: 50%;
  border: 1px solid white;
  border: 3px solid white;
  margin-left: 1vmin;
  margin-right: 1vmin;
  background: hsla(221, 100%, 6%, 0.5);
}

.side-basement-window {
  height: 99%;
  width: 25%;
  border: 1px solid white;
  border: 3px solid white;
  background: hsla(221, 100%, 6%, 0.5);
}

.frank {
  display: flex;
  position: relative;
  margin-top: 33vmin;
  border: 1px solid black;
}

.head {
  position: absolute;
  border-radius: 50%;
  height: 8vmin;
  width: 8vmin;
  border: 1px solid black;
}

.body {
  position: absolute;
  height: 1px;
  width: 12vmin;
  margin-top: 9vmin;
  margin-left: 5vmin;
  border: 1px solid black;
  transform: rotate(14deg);
}

.left-arm {
  position: absolute;
  height: 1px;
  width: 5vmin;
  margin-top: 9vmin;
  margin-left: 4vmin;
  border: 1px solid black;
  transform: rotate(220deg);
}

.right-arm {
  position: absolute;
  height: 1px;
  width: 5vmin;
  margin-top: 7vmin;
  margin-left: 6vmin;
  border: 1px solid black;
  transform: rotate(170deg);
}
.right-leg {
  position: absolute;
  height: 1px;
  width: 5vmin;
  margin-top: 10vmin;
  margin-left: 17vmin;
  border: 1px solid black;
  transform: rotate(170deg);
}

.left-leg {
  position: absolute;
  height: 1px;
  width: 5vmin;
  margin-top: 12vmin;
  margin-left: 15vmin;
  border: 1px solid black;
  transform: rotate(40deg);
}

.beer {
  position: absolute;
  margin-top: 11vmin;
  margin-left: 10vmin;
  height: 2vmin;
  width: 1vmin;
  border: 1px solid black;
  transform: rotate(40deg);
}
