* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9e0ae;
  width: 100%;
  height: 100vh;
}

.head {
  position: absolute;
  display: flex;
  width: 40vmin;
  height: 40vmin;
  background: orange;
  border-radius: 50%;
}

.eyes {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  top: 10vmin;
  left: 12vmin;
  background-color: black;
  border-radius: 50%;
  box-shadow: 13vmin 0 black;
}

.nose {
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  top: 17vmin;
  left: 17vmin;
  background-color: black;
  border-radius: 50%;
}

.left-ear {
  postion: absolute;
  width: 0;
  height: 0;
  border-left: 5vmin solid transparent;
  border-right: 5vmin solid transparent;
  border-bottom: 10vmin solid black;
  transform: rotate(-45deg);
  margin-right: 20vmin;
}

.right-ear {
  position: relative;
  left: 30vmin;
  width: 0;
  height: 0;
  border-left: 5vmin solid transparent;
  border-right: 5vmin solid transparent;
  border-bottom: 10vmin solid black;
  transform: rotate(45deg);
/*   background-color: black; */
}